apiVersion: apps/v1
kind: Deployment
metadata:
  name: trip-duration
spec:
  replicas: 2
  selector:
    matchLabels:
      app: trip-duration
  template:
    metadata:
      labels:
        app: trip-duration
    spec:
      containers:
      - name: trip-duration
        image: trip-duration:v1   # ya registry se: youruser/trip-duration:v1
        ports:
        - containerPort: 8080
        livenessProbe:
          httpGet:
            path: /health
            port: 8080
          initialDelaySeconds: 10
          periodSeconds: 30
        readinessProbe:
          httpGet:
            path: /ready
            port: 8080
          initialDelaySeconds: 5
          periodSeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: trip-duration
spec:
  selector:
    app: trip-duration
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
    name: http
